body{
    background-color: rgb(85, 182, 238);
    color:black;
    border-color:black;
}

.tblWholePage {
    width: 100%;
    vertical-align: top;
}

.tableRemoteJobs {
    width:100%;
    border: 1px solid black;
    vertical-align: top;
}

.tableRemoteJobs td {
    /*background-color: rgb(0, 132, 255);*/
    text-align: center;
    border: 1px solid white;
}

.tableRemoteJobs th {
    background-color: rgb(0, 132, 255);
    text-align: center;
    border: 1px solid white;
}

.tableRemoteJobs.check {
    width:10%;
}
.tblTags {
    border: 1px solid black;
    min-width: 200;
}

.tblTags th {
    background-color: rgb(1, 157, 247);
    color: white;
    min-width: 50px;
}

.tblTags tr {
    text-align: left;
}

.tblTags td {
    background-color: aqua;
    color: black;
    min-width: 50px;
}

.control_cell {
    border: 1px black solid;
    width: 330px;
    vertical-align:top;
}